In [1]:
fruits=['apple','banana','cherry']
fruits

['apple', 'banana', 'cherry']

In [2]:
a_list=[23,'hello',None,3.14,fruits,3<=5]
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [3]:
type(fruits)

list

In [4]:
a_list

[23, 'hello', None, 3.14, ['apple', 'banana', 'cherry'], True]

In [5]:
len(a_list)

6

In [6]:
a_list[2:5]

[None, 3.14, ['apple', 'banana', 'cherry']]

In [7]:
fruits.insert(1,'guava')
fruits

['apple', 'guava', 'banana', 'cherry']

In [8]:
fruits.pop()

'cherry'

In [9]:
fruits.pop(2)

'banana'

To combine two or more lists , use the + operator. This operation is also called concatenation.

In [10]:
more_fruits=fruits+['blueberry','tomato','brinjal']+['kera'+'karaila']
more_fruits

['apple', 'guava', 'blueberry', 'tomato', 'brinjal', 'kerakaraila']

To create a copy of list , use the copy method . Modifying the copied list does not affect the original list.

fruits.reverse()

In [11]:
'tomato' in more_fruits

True

In [12]:
fruits.append('pinapple')
fruits

['apple', 'guava', 'pinapple']

In [13]:
vegetables=['potato','cauliflower','cabbage','spainch']
vegetables

['potato', 'cauliflower', 'cabbage', 'spainch']

In [14]:
# Add the elements of one list to the end of another list.
fruits_vegetables=fruits+vegetables
a=fruits_vegetables.sort

In [15]:
# Sort a list of strings in decreasing order.
fruits.reverse()
print(fruits)

['pinapple', 'guava', 'apple']

In [16]:
# sorting a list of numbers in decreasing order
a=[10,1,23,2,45,0]
a

[10, 1, 23, 2, 45, 0]

In [17]:
a.sort(reverse=True)
a

[45, 23, 10, 2, 1, 0]

## Tuple

In [18]:
cars=('thar','bolero','lamborgini','bucatti','rolls-royels')
cars

('thar', 'bolero', 'lamborgini', 'bucatti', 'rolls-royels')

In [19]:
len(cars)

5

In [20]:
cars.append('sumo')

AttributeError: 'tuple' object has no attribute 'append'

## Dictionary

In [ ]:
person1={
    'name':'Roshan Sah',
    'sex':'Male',
    'age':20,
    'marriage':False
}
person1

{'name': 'Roshan Sah', 'sex': 'Male', 'age': 20, 'marriage': False}

Dictionaries can also beb created using the dict function.

In [ ]:
person1['marriage']

False

In [ ]:
person1['age']

20

In [ ]:
# adding an element in dictionary
person1['address']='01,Taratol'
person1

{'name': 'Roshan Sah',
 'sex': 'Male',
 'age': 20,
 'marriage': False,
 'address': '01,Taratol'}

In [ ]:
# To remove a key and the associated values from a dictionary, use the pop method.
person1.pop('address')

KeyError: 'address'

In [ ]:
person1['address']='01,taratol'

In [ ]:
person1

{'name': 'Roshan Sah',
 'sex': 'Male',
 'age': 20,
 'marriage': False,
 'address': '01,taratol'}

In [ ]:
person1.keys()

dict_keys(['name', 'sex', 'age', 'marriage', 'address'])

HomeWork of Dictionary

In [ ]:
# Q) What happens if you use the same key multiple times while creating a dictionary.
dictonary={
    "name":'Roshan Sah',# when we use same key then 
    # we get the information of second value or string of same key
    "name":'Dipesh Sah',
    "rollno":23,
    "class":'Bsc.CSIT'
}
dictonary

{'name': 'Dipesh Sah', 'rollno': 23, 'class': 'Bsc.CSIT'}

In [ ]:
# How can you create a copy of a dictionary
# (modifying the copy should not change the original)
company_data={
    'employees name':'Ram',
    'id':23,
    'gender':'Male',
    'position':'HR Manager'
}
company_data

{'employees name': 'Ram', 'id': 23, 'gender': 'Male', 'position': 'HR Manager'}

In [ ]:
company_data={
    'employees name':'shyam',
    'id':20,
    'gender':'Male',
    'position':'Manager'
}
company_data

{'employees name': 'shyam', 'id': 20, 'gender': 'Male', 'position': 'Manager'}

In [ ]:
data={
    'name':'Vasudev',
        'id':'infinity',
        'position':'god'
}
data

{'name': 'Vasudev', 'id': 'infinity', 'position': 'god'}

In [ ]:
data['data']='vaikuntha'
data

{'name': 'Vasudev', 'id': 'infinity', 'position': 'god', 'data': 'vaikuntha'}

In [ ]:
student={
1:'roshan',
True:'yes',
}
student

{1: 'yes'}

### Branching , Loops and Functions.

In [ ]:
a_number=34
if a_number%2==0:
    print("we're insider an if block.")
    print('The given number {} is even.'.format(a_number))

we're insider an if block.
The given number 34 is even.

### Else Statement

In [ ]:
another_number=33
if another_number % 2 == 0:
    print('The given number {} is even.'.format(a_number))
print('It is odd number {}'.format(another_number))

It is odd number 33

In [ ]:
the_3_musketeers=('Athos','Porthos','Aramis')
a_candidate='Athos'

In [ ]:
if a_candidate in  the_3_musketeers:
    print("{} is a musketeer".format(a_candidate))
else:
    print("{} is not a musketeer".format(a_candidate))

Athos is a musketeer

In [ ]:
today='Wednesday'

In [ ]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisble by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisble by 5'.format(a_number))
elif a_number % 7 == 0:
    print('{} is divisble by 7'.format(a_number))

34 is divisible by 2

In [ ]:
a_number = 56

In [ ]:
if a_number % 2 == 0:
    print('{} is divisible by 2'.format(a_number))
elif a_number % 3 == 0:
    print('{} is divisible by 3'.format(a_number))
elif a_number % 5 == 0:
    print('{} is divisible by 5'.format(a_number))
else:
    print('All checks failed!')
    print('{} is not divisible by 2,3, or 5'.format(a_number))

56 is divisible by 2

In [ ]:
if a_number % 3 == 0 and a_number % 5 == 0:
    print("The number {} is divisible by 3 and 5".format(a_number))
elif not a_number % 5 == 0: 
    print("The number {} is not divisible by 5".format(a_number))

The number 56 is not divisible by 5

Non-Boolean Conditions

In [21]:
if '':
    print("The condititon evaluted to True.")
else:
    print("The condition evaluted to False.")

The condition evaluted to False.

In [22]:
if 'Hello':
    print("The condition evaluted to True.")
else:
    print("The condition evaluted to False")

The condition evaluted to True.

In [23]:
if {'a':34}:
    print('The condition evaluted to True')
else:
    print("The condition evaluted to False")

The condition evaluted to True

In [24]:
if None:
    print("The condition evaluted to True")
else:
    print("The condition evaluted to False")

The condition evaluted to False

In [25]:
a_number=15
if a_number % 2 == 0:
    print("{} is even".format(a_number))
    if a_number % 3 == 0:
        print("{} is also divisible by 3".format(a_number))
    else:
        print("{} is not divisible by 3".format(a_number))
else:
    print("{} is odd".format(a_number))
    if a_number % 5 == 0:
        print("{} is also eivisible by 5".format(a_number))
    else:
        print("{} is not divisible by 5".format(a_number))

15 is odd
15 is also eivisible by 5

Shorthand if conditional expression

In [26]:
a_number = 13

if a_number % 2 == 0:
    parity = 'even'
else:
    parity = 'odd'
print("The number {} is {} .".format(a_number,parity))

The number 13 is odd .

## Iteration with while loops

In [3]:
result = 1
i = 1

while i<=1000:
    result = result * i
    i = i + 1
print('The factorial of 100 is: {}'.format(result))

The factorial of 100 is: 402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [5]:
%%time
result = 1
i = 1

while i<=1000:
    result = result * i
    i = i + 1
print('The factorial of 100 is :{}'.format(result))

The factorial of 100 is :402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
CPU times: total: 0 ns
Wall time: 1.26 ms

In [6]:
line = '*'
max_length = 10

while len(line) <= max_length:
    print(line)
    line +="*"
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [8]:
line = '*'
max_length = 10

while len(line) > 0:
    print(line)
    line = line[:-1]
while len(line) <= max_length:
    print(line)
    line +="*"

*

*
**
***
****
*****
******
*******
********
*********
**********

Break Statement

In [13]:
i = 1
result = 1

while i <= 100:
    result = result * i
    if i == 42:
        print('Magic number 42 reached! stopping execution..')
        break
    i+=1
print('i:',i)
print('result:',result)

Magic number 42 reached! stopping execution..
i: 42
result: 1405006117752879898543142606244511569936384000000000

In [15]:
i = 1
result = 1

while i<20:
    i+=1
    if i % 2 == 0:
        print('Skipping{}'.format(i))
        continue
    print('Multiplying with {}'.format(i))
    result = result * i
    
print('i:',i)
print('result:',result)

Skipping2
Multiplying with 3
Skipping4
Multiplying with 5
Skipping6
Multiplying with 7
Skipping8
Multiplying with 9
Skipping10
Multiplying with 11
Skipping12
Multiplying with 13
Skipping14
Multiplying with 15
Skipping16
Multiplying with 17
Skipping18
Multiplying with 19
Skipping20
i: 20
result: 654729075

### Iteration with for loops
A for loops is used for iteration or looping over sequences i.e. list tuples, dictionaries, strings and ranges

In [16]:
days = ['Monday','Tuesday','Wednesday','Thrusday','Friday']

for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thrusday
Friday

In [17]:
# Looping over a string
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [18]:
# Looping over a tuple
for fruit in ['Apple','Banana','Guava']:
    print("Here's a fruit:",fruit)

Here's a fruit: Apple
Here's a fruit: Banana
Here's a fruit: Guava

In [21]:
# Looping over a dictionary
person = {
    'name':'Roshan sah',
    'sex':'Male',
    'age':20,
    'marriage':True
}
for key in person:
    print("Key:",key,",","Value:",person[key])

Key: name , Value: Roshan sah
Key: sex , Value: Male
Key: age , Value: 20
Key: marriage , Value: True